<h3>Mortage Pre Approval</h3>

<div class="container">
  <ul class="progressbar">
      <li >step 1</li>
      <li>step 2</li>
      <li>step 3</li>
      <li class="active">step 4</li>
  </ul>
</div>
<h4>Submitted</h4>
<mat-card class="main-card">
  <mat-card-header>
    <div mat-card-avatar class=""><mat-icon>star</mat-icon></div>
    <mat-card-title>Thank You!</mat-card-title>
    
  </mat-card-header>
  <mat-card-content>
    <p>
      Thank you for submitting, your financial advisor will contact you shortly.
    </p>
  </mat-card-content>
  
</mat-card>