<h3>Documents</h3>

<div class="container">
    <ul class="progressbar">
        <li class="active">step 1</li>
        <li>step 2</li>
        <li>step 3</li>
        <li>step 4</li>
    </ul>
</div>

<table class="requiredDocTable">
<tr>
  <td>Accounts</td>
  <td>
    <div>
    <table>
      <tr *ngFor="let account of accounts">
        <td>{{ account.type }}</td>
        <td>{{ account.label }}</td>
        <td>{{ account.balance.funds_available }} {{ account.balance.currency }}</td>
      </tr>
    </table>
    </div>
    </td>
    <td>
        <mat-chip color="primary" selected>Completed</mat-chip>
    </td>
</tr>
<tr>
<td>Pay Stub</td>
<td>
<div *ngIf="pay.payStatements && pay">
  <table>
    <tr *ngFor="let statement of pay.payStatements">
      <td>{{statement.payDate }}</td>
      <td>{{statement.grossPayAmount.amountValue}} {{ statement.grossPayAmount.currencyCode }}</td>
    </tr>
  </table>
</div>
</td>
<td>
<mat-chip color="primary" selected>Completed</mat-chip>
</td>
</tr>
<tr>
<td>T4 Income</td>
<td>
<div>
  <p>CRA Notice of Assessment</p>

  <table>
      <tr *ngFor="let line of income">
        <td>{{line.line }}</td>
        <td>{{line.description}}</td>
        <td>{{line.amount }}</td>
    </table>  
  </div>
  </td>
  <td>
      <mat-chip color="primary" selected>Completed</mat-chip>
      </td>
  </tr>
</table>