<h3>Documents</h3>

<div class="container">
    <ul class="progressbar">
        <li class="active">step 1</li>
        <li>step 2</li>
        <li>step 3</li>
        <li>step 4</li>
    </ul>
</div>

    <h4>Required Documents</h4>
      <mat-accordion class="requiredDocTable example-headers-align">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Accounts
              </mat-panel-title>
              <mat-panel-description>
                Bank Account Details

                <mat-icon class="green-icon">check_box</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
        
    <table>
      <tr *ngFor="let account of accounts">
        <td>{{ account.type }}</td>
        <td>{{ account.label }}</td>
        <td>{{ account.balance.funds_available }} {{ account.balance.currency }}</td>
      </tr>
    </table>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
    <mat-panel-title>
        Pay Stub
      </mat-panel-title>
      <mat-panel-description>
        Payroll Details

        <mat-icon class="green-icon">check_box</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngIf="pay.payStatements && pay">
        <table>
          <tr *ngFor="let statement of pay.payStatements">
            <td>{{statement.payDate }}</td>
            <td>{{statement.grossPayAmount.amountValue}} {{ statement.grossPayAmount.currencyCode }}</td>
          </tr>
        </table>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
    <mat-panel-title>
        T4 Income
      </mat-panel-title>
      <mat-panel-description>
          CRA Notice of Assessment
        <mat-icon class="green-icon">check_box</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table>
        <tr *ngFor="let line of income">
          <td>{{line.line }}</td>
          <td>{{line.description}}</td>
          <td>{{line.amount }}</td>
      </table> 
    </mat-expansion-panel>
</mat-accordion>
<div>
  <button mat-button>Submit</button>
</div>