<h3>Mortage Pre Approval</h3>

<div class="container">
    <ul class="progressbar">
        <li>step 1</li>
        <li class="">step 2</li>
        <li class="active">step 3</li>
        <li>step 4</li>
    </ul>
</div>

    <h4>Pre Approval Review</h4>
    <div>
      <img src="../../../assets/mortgage.graph.png" width="640" height="480">
    </div>
    <mat-divider></mat-divider>
    <div style="margin: 3em">
      <button mat-button (click)="back()">back</button>
      <button mat-button (click)="next()">Submit to Financial Advisor</button>
    </div>