<div>
  <h3>Home Page</h3>
  
  
  

    <mat-card class="main-card">
        <mat-card-header>
          <div mat-card-avatar class=""><mat-icon>home</mat-icon></div>
          <mat-card-title>Morgage Pre Approval</mat-card-title>
        </mat-card-header>
       
        <mat-card-content>
          <p>
            Pre-approval means that a lender has stated in writing that you qualify for a mortgage loan based on your current income and credit history. A pre-approval usually specifies a term, interest rate and mortgage amount. A pre-approval is typically valid for a brief period of time and usually has a number of conditions that must be met.
          </p>
          <p>Get an online pre-approval to know how much you may be able to afford and start your house hunt with confidence.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openDialog()">More</button>
        </mat-card-actions>
      </mat-card>
      
      <mat-card class="main-card">
          <mat-card-header>
            <div mat-card-avatar class=""><mat-icon>folder</mat-icon></div>
            <mat-card-title>Mortgage Status</mat-card-title>
          </mat-card-header>
      
          <mat-card-content>
            <p>
              Manage documents and view status of current mortgage.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button routerLink="/cibc">More</button>
          </mat-card-actions>
        </mat-card>
     
        <mat-card class="main-card">
            <mat-card-header>
              <div mat-card-avatar class=""><mat-icon>group</mat-icon></div>
              <mat-card-title>Contacts</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
               View and Manage contact details
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button routerLink="/contacts">More</button>
            </mat-card-actions>
          </mat-card>
       
          <mat-card class="main-card">
              <mat-card-header>
                <div mat-card-avatar class=""><mat-icon> attach_money</mat-icon></div>
                <mat-card-title>Financial Advice</mat-card-title>
                
              </mat-card-header>
              <!--
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="" length="320" width="240">
              -->
              <mat-card-content>
                <p>
                  View investment reccomendations 
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>More</button>
              </mat-card-actions>
            </mat-card>
            <mat-divider></mat-divider>

      <div>
        &nbsp;
      </div>
</div>
